$outsideNumber: 2.5;
$outsideSpace: $outsideNumber* 1vw; 

$columnNumber: 1.1;
$containerSpace: $columnNumber * 1vw;
$columnSpace: $columnNumber * 1vw;

$maxColumn : 1800; 

$mainTextColour: #000000;
$mainBGColour: #ffffff;



$baseTextSize: 1vw;  

$grey05 : #f1f1f2;
$grey07 : #ecedee;
$grey10 : #e6e7e8;
$grey20 : #d1d3d4;
$grey30 : #bcbec0;
$grey40 : #a7a9ac;
$grey50 : #939598;
$grey60 : #808285; 
$grey70 : #6d6e71;
$grey80 : #58595b;
$grey90 : #414042;
$grey95 : #333132;
